body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
}

h1{
    font-size: 50px;
}

.orange-color{
    color:orange;
}

section{
    display: flex;
    margin-bottom: 150px;;
}

.top-banner{
    /* padding-bottom: 90px; */
}

.half-width img{
    width: 80%;
    margin-top: 60px;
    margin-left: 40px;

}

section .half-width{
    padding-left: 5%;
    width: 50%;
}

.half-width a{
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(240, 94, 94));
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 800;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dirim{
    margin-right: 130px;
}