body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color:orange;
}

.flexible{
    display: flex;
    margin-bottom: 150px;
}

.top-banner{
    /* padding-bottom: 90px; */
}

.half-width img{
    width: 80%;
    margin-top: 60px;
    margin-left: 40px;

}

section .half-width{
    padding-left: 5%;
    width: 50%;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 10px;
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(240, 94, 94));
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 800;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dirim{
    margin-right: 130px;
}
.items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 13px;
}
#mama{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, rgb(240, 94, 94));
    border-image-slice: 1;
}
#chacha{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(3, 80, 245), rgb(27, 218, 243));
    border-image-slice: 1;   
}
footer p{
    text-align: center;
}